target/
*.jar
*.class
*.log
*.class

ProjectWeb-BE/ProjectWeb-BE/doc/discovery-service.pdf
ProjectWeb-BE/ProjectWeb-BE/doc/gateway-service.pdf
ProjectWeb-BE/ProjectWeb-BE/doc/notification-service.pdf
ProjectWeb-BE/ProjectWeb-BE/doc/Order-Service.pdf
ProjectWeb-BE/ProjectWeb-BE/doc/Product-service.pdf
